@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@700&display=swap");

@import url("./header.css");
@import url("./hero.css");
@import url("./sections.css");
@import url("./footer.css");
@import url("./responsive.css");
@import url("./accessibility.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  color: #1e293b;
}

section {
  scroll-margin-top: 100px;
}
